/* Day Mode Colors*/
$main-color1-day: hsl(269, 99%, 61%);
$main-color1-dim: hsla(269, 99%, 61%, 0.8);
$main-f12color-day: hsla(269, 99%, 61%, 0.5);
$main-f12color2-day: rgb(255, 243, 255);
$icon-color1-hover: hsl(260, 100%, 66%);
$main-color2-day: hsl(278, 100%, 98%);
$font-color1-day: hsla(265, 28%, 27%, 1);
$font-color2-day: hsla(300, 100%, 97%, 1);
$icon-solor2-day: hsla(251, 7%, 71%, 1);
$font-color1-headings: hsl(264, 17%, 32%);
$font-color2-headings: hsla(256, 8%, 65%, 1);
$font-color1-paramsHead: hsla(240, 2%, 68%, 1);
$font-color2-paramsValue: hsla(256, 12%, 37%, 1);
$white-color-dim: #ffffffd1;

/* SKELETON LOADING */
html {
  max-width: 100%;
  overflow-x: hidden;
}
.skeleton {
  background-color: hsl(0, 0%, 75%);
  opacity: 0.7;
  border-radius: 4px;
  animation: skeleton-loading 1s linear 0s infinite alternate;
}

.text {
  width: 60px;
  height: 8px;
  margin: 10px 0 0 2px;
}
.subtitle {
  width: 75%;
  height: 16px;
  margin-bottom: 12px;
}
.title {
  width: 50%;
  height: 20px;
  margin-bottom: 15px;
}
.avatar {
  width: 45px;
  height: 45px;
  margin-bottom: 12px;
  border-radius: 15px;
}

.skeleton__activeparams {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  .skeleton__actpar_texts {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 550px) {
    height: auto;
    width: auto;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 0;
  }
}

.skeleton__twelve {
  height: 18.5vh;
  width: 3.65vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: skeleton12loading 2s linear 0s infinite alternate;

  @media (max-width: 550px) {
    flex-direction: row;
    height: auto;
    width: 50vw;
    padding: 5% 0 0 0;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    margin-top: 5%;
  }
}
.avatar12 {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  @media (max-width: 550px) {
    order: 1;
    margin: 0 5% 0 5%;
  }
}
.text12 {
  width: 30px;
  height: 13px;
  @media (max-width: 550px) {
    order: 2;
    margin: 0 5% 0 5%;
  }
}
.skeleton__five {
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    margin-left: 25%;
  }
}
.text5 {
  width: 65px;
  height: 12px;
  margin: 10px 0 0 2px;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 70%);
  }
  100% {
    background-color: hsl(0, 0%, 90%);
  }
}
@keyframes skeleton12loading {
  0% {
    background-color: hsla(0, 0%, 90%, 0.2);
  }
  100% {
    background-color: hsla(0, 0%, 70%, 0.2);
  }
}

/* Body Background - Frame*/
body {
  background: linear-gradient(
    to right,
    $main-color1-day 30%,
    $main-color2-day 30%
  );
  @media (max-width: 850px) {
    background: linear-gradient(
      to right,
      $main-color1-day 70%,
      $main-color2-day 70%
    );
  }
}

/* ---------- External Frame ---------- */
.externalFrame__container {
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;

  .container__column_Left,
  .container__row_MidTop,
  .container__row_MidBottom,
  .container__row_RightBottom {
    background: #ffffff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  }

  .container__row_MidTop,
  .container__row_MidBottom {
    width: 61vw;
  }
  .container__row_RightTop,
  .container__row_RightBottom {
    width: 23vw;
  }

  .container__row_MidTop,
  .container__row_RightTop {
    height: 11vh;
  }

  .container__row_MidBottom,
  .container__row_RightBottom {
    height: 79vh;
  }

  /* ---------- Left Column ---------- */
  .container__column_Left {
    grid-area: allLeft;
    border-radius: 8px 0px 0px 8px;
    width: 7vw;
    height: 90vh;

    a {
      box-sizing: border-box;
      margin-top: 0;
      padding: 0;
    }

    a,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: $icon-solor2-day;
    }

    .columnLeftData__Button {
      display: flex;
      flex-direction: column;
      color: $icon-solor2-day;
      justify-content: center;

      padding: 55% 0% 0% 30%;

      * {
        margin-top: 70%;

        @media (max-width: 1024px) {
          margin-top: 120%;
        }
      }
    }

    @media (max-width: 1024px) {
      .icon__Left {
        size: 36;
      }
    }
  }

  /* ---------- Mid Top Row ---------- */
  .container__row_MidTop {
    grid-area: midTop;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    .ap-icon-pin,
    .ap-icon-clear {
      visibility: hidden;
      display: none;
    }
    .rowMidTop__Data {
      margin: 2% 3% 0 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media (max-width: 550px) {
        flex-direction: column-reverse;
      }

      .rowMidTop__placeDetails {
        color: $font-color1-day;
        width: 70%;
        font-size: 1.5em;

        @media (max-width: 1024px) {
          font-size: 1.5em;
        }
      }

      .rowMidTop__searchDetails {
        width: 50%;
        @media (max-width: 550px) {
          margin-top: 1vh;
          width: auto;
        }

        .rowMidTop__searchBar {
          display: flex;
          width: 35px;
          margin: 0px auto;
          background: rgb(255, 255, 255);
          border-radius: 25px;
          cursor: pointer;
          transition: 0.8s;
          align-items: center;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
          margin: 0px auto 0px auto;
          padding: 5px 8px;

          .input__searchBar {
            transition: 0.8s;
            width: 0%;
            outline: none;
            border: none;
            background: transparent;
            font-size: 1em;

            &::placeholder {
              font-size: 0.8em;
            }
          }

          cursor: pointer;
          width: 220px;
          .input__searchBar {
            width: 188px;
          }

          /* &:hover {
            cursor: pointer;
            width: 200px;
            .input__searchBar {
              width: 188px;
            }
            .btn__searchBar {
              transition: all 0.1s ease-in;
              margin-left: -10%;
            }
          } */

          @media (max-width: 550px) {
            cursor: pointer;
            width: 200px;
            .input__searchBar {
              width: 188px;
            }
          }

          .btn__searchBar {
            align-items: center;
            color: $main-color1-day;
            font-size: 1.6em;
            margin-left: 5%;
            border: none;
            background: transparent;
            padding: 2%;
            @media (max-width: 1000px) {
              margin-left: -15%;
              z-index: 3;
            }
            @media (max-width: 550px) {
              margin-left: 0%;
              z-index: 3;
            }
            @media (max-width: 350px) {
              margin-left: -25%;
              z-index: 3;
            }
          }
        }
      }
    }
  }

  /* ---------- Mid Bottom Row ---------- */
  .container__row_MidBottom {
    grid-area: midBottom;

    .rowMidBottom__Data {
      display: grid;
      width: 54.9vw;
      height: 71.1vh;
      margin: 1.975vh 0 0 2.55vw;

      .data__currentTemp_Container {
        grid-area: currentTempContainer;
        width: 12.078vw;
        height: 41vh;

        .currentTemp_Text {
          color: $font-color1-headings;
          font-size: 1.3em;

          @media (max-width: 1024px) {
            font-size: 1.1em;
          }
        }

        .currentTemp_Value {
          margin-top: 25px;
          margin-left: -10px;
          @media (max-width: 550px) {
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 5% 0 0 0;
          }

          .outerMostValue_Circle {
            width: 165px;
            height: 165px;
            border-radius: 50%;
            background-color: rgba(72, 255, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
              height: 150px;
              width: 150px;
            }
            @media (max-width: 900px) {
              height: 130px;
              width: 130px;
            }
            @media (max-width: 850px) {
              height: 165px;
              width: 165px;
            }

            .tempVal_outerCircle {
              width: 145px;
              height: 145px;
              border-radius: 50%;
              display: flex;
              border: 1px solid rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
              align-items: center;
              justify-content: center;

              @media (max-width: 1024px) {
                height: 130px;
                width: 130px;
              }
              @media (max-width: 900px) {
                height: 110px;
                width: 110px;
              }
              @media (max-width: 850px) {
                height: 145px;
                width: 145px;
              }

              .animationCircle {
                visibility: hidden;
                position: absolute;
                width: 9px;
                height: 9px;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
              }

              .tempVal_innerCircle {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 1024px) {
                  height: 115px;
                  width: 115px;
                }
                @media (max-width: 900px) {
                  height: 95px;
                  width: 95px;
                }
                @media (max-width: 850px) {
                  height: 125px;
                  width: 125px;
                }

                .tempVal {
                  color: hsla(265, 28%, 27%, 1);
                  font-size: 4em;

                  @media (max-width: 1024px) {
                    font-size: 3.5em;
                  }
                  @media (max-width: 900px) {
                    font-size: 3em;
                  }
                  @media (max-width: 850px) {
                    font-size: 4em;
                  }
                  sup {
                    font-size: 50%;
                  }
                }
              }
            }
            &:hover {
              cursor: pointer;
              .animationCircle {
                visibility: visible;
                animation: animate 3s linear infinite;

                @media (max-width: 900px) {
                  visibility: hidden;
                }
              }
            }
            @keyframes animate {
              from {
                transform: rotate(0deg) translateX(72px) rotate(0deg);

                @media (max-width: 1024px) {
                  transform: rotate(0deg) translateX(40px) rotate(0deg);
                }
              }
              to {
                transform: rotate(360deg) translateX(72px) rotate(-360deg);
                @media (max-width: 1024px) {
                  transform: rotate(360deg) translateX(40px) rotate(-360deg);
                }
              }
            }
          }
        }
      }

      .params_Container {
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        &:hover {
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          .param_Box,
          .param_Value1,
          .param_Value2 {
            transform: scale(1.1);
          }
        }
        @media (max-width: 550px) {
          height: auto;
          width: 75vw;
          align-content: center;
          justify-content: center;
          margin: auto;
          padding: 6% 0 0 0;
          text-align: center;
          &:hover {
            transition: all 0.2s ease-in-out;
          }
        }
        .param_Box {
          border-radius: 10px;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 1024px) {
            width: 40px;
            height: 40px;
          }
          @media (max-width: 900px) {
            width: 38px;
            height: 38px;
          }
          @media (max-width: 850px) {
            width: 45px;
            height: 45px;
          }
          @media (max-width: 650px) {
            height: 40px;
            width: 40px;
          }
          @media (max-width: 550px) {
            height: 55px;
            width: 55px;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
          }
          .param_Icon {
            color: white;
          }
        }

        .param_Values {
          margin-left: 10px;
          margin-top: 1px;
          @media (max-width: 550px) {
            display: flex;
            flex-direction: row;
            height: auto;
            width: 55vw;
            justify-content: center;
            align-content: center;
          }
          @media (max-width: 380px) {
            width: 58vw;
          }
          .param_Value1 {
            color: $font-color1-paramsHead;
            font-size: 0.9em;
            @media (max-width: 1024px) {
              font-size: 0.8em;
            }
            @media (max-width: 900px) {
              font-size: 0.7em;
            }
            @media (max-width: 850px) {
              font-size: 0.95em;
            }
            @media (max-width: 650px) {
              font-size: 0.85em;
            }
            @media (max-width: 550px) {
              height: auto;
              width: 30vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
              font-size: 1.2em;
            }
            @media (max-width: 380px) {
              width: 38vw;
              font-size: 1.1em;
            }
            @media (max-width: 350px) {
              font-size: 1em;
            }
          }
          .param_Value2 {
            margin-top: 2px;
            color: $font-color2-paramsValue;
            font-size: 1.1em;
            @media (max-width: 1024px) {
              font-size: 0.9em;
            }
            @media (max-width: 900px) {
              font-size: 0.8em;
            }
            @media (max-width: 850px) {
              font-size: 1.1em;
            }
            @media (max-width: 650px) {
              font-size: 0.95em;
            }
            @media (max-width: 550px) {
              height: auto;
              width: 30vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
              font-size: 1.3em;
            }
            @media (max-width: 380px) {
              width: 34vw;
              font-size: 1.2em;
            }
            @media (max-width: 350px) {
              width: 34vw;
              font-size: 1.1em;
            }
          }
        }
      }

      .data__activeParameters_Container {
        grid-area: activeParamsContainer;
        margin-left: 0.549vw;
        width: 24.156vw;
        height: 41.238vh;

        .activeParameters_Text {
          font-size: 1.2em;
          color: $font-color2-headings;
        }
        .activeParameters_Value {
          display: flex;
          flex-direction: row;
          @media (max-width: 550px) {
            flex-direction: column;
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
          }

          .parameters__Left,
          .parameters__Right {
            display: flex;
            flex-direction: column;
            width: 12.1vw;
            height: 41vh;
          }
        }
      }

      .data__description_Container {
        grid-area: desciptionContainer;
        width: 12.078vw;
        height: 41.238vh;
        margin-left: 0.549vw;

        .description_Text {
          font-size: 1.2em;
          color: $font-color2-headings;
        }
      }

      .data__forecast12Hour_Container {
        grid-area: forecast12Container;
        margin-top: 0.711vh;
        width: 54.5vw;
        height: 21.33vh;

        .forecast12Hour_Text {
          font-size: 1.2em;
          color: $font-color1-headings;
        }
        .forecast12Hour_Value {
          width: 54vw;
          height: 21vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .f12__container {
            height: 18.5vh;
            width: 3.65vw;
            box-shadow: none;
            background: #ffffff;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .f12__time {
              color: $font-color1-day;
            }
            .f12__icon {
              img {
                overflow: hidden;
              }
            }
            .f12__temp {
              color: $font-color1-day;
            }

            &:hover {
              cursor: pointer;
              transition: all 0.4s ease-in-out;
              transform: scale(1.1);
              box-shadow: 0px 0px 2px 2px hsl(0, 0%, 98%);
              background-color: rgb(255, 255, 255);
            }
          }
        }
      }

      grid-template-areas:
        "currentTempContainer activeParamsContainer activeParamsContainer desciptionContainer"
        "currentTempContainer activeParamsContainer activeParamsContainer desciptionContainer"
        "forecast12Container forecast12Container forecast12Container forecast12Container";
    }
  }

  /* ---------- Right Top Row ---------- */
  .container__row_RightTop {
    grid-area: rightTop;
    background: $main-color1-day;
    border-radius: 0px 8px 0px 0px;

    .rowRightTop__Data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $font-color2-day;
      box-sizing: border-box;

      .pacmanCreator {
        margin-top: 10%;
      }
      .userCreator {
        margin-top: 10%;

        font-size: 2em;

        @media (max-width: 1024px) {
          font-size: 1.8em;
        }
      }
    }
  }

  /* ---------- Right Bottom Row ---------- */
  .container__row_RightBottom {
    @media (max-width: 850px) {
      margin-bottom: 8%;
    }

    grid-area: rightBottom;
    border-radius: 0px 0px 8px 0px;

    .rowRightBottom__Data {
      display: flex;
      flex-direction: column;
      @media (max-width: 550px) {
        height: auto;
        width: auto;
        align-content: center;
        justify-content: center;
        margin: auto;
        padding: 0;
      }
      @media (max-width: 500px) {
        margin-top: -5vh;
      }
      @media (max-width: 475px) {
        margin-top: -10vh;
      }

      .rowRightBottom__Data__FiveDayForecast {
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        padding: 1.5vh 2vw 1.5vh 2vw;
        height: 25.1vh;
        @media (max-width: 550px) {
          height: auto;
          width: auto;
          align-content: center;
          justify-content: center;
          margin: auto;
          padding: 0;
        }

        .fiveDayForecast__Header {
          display: flex;
          flex-direction: row;
          width: 19vw;
          @media (max-width: 850px) {
            width: 50vw;
          }
          @media (max-width: 550px) {
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
            text-align: center;
          }

          .fiveDayForecast__Header_Name {
            font-size: 1.2em;
            color: $font-color1-headings;
            width: 14vw;
            @media (max-width: 850px) {
              font-size: 1.7em;
              width: 30vw;
            }
            @media (max-width: 650px) {
              font-size: 1.5em;
            }
            @media (max-width: 550px) {
              font-size: 1.6em;
              height: auto;
              width: 45vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
          }
          .fiveDayForecast__Header_Value {
            font-size: 1.15em;
            color: $font-color1-headings;
            width: 5vw;
            @media (max-width: 850px) {
              font-size: 1.5em;
              width: 20vw;
            }
            @media (max-width: 650px) {
              font-size: 1.3em;
            }
            @media (max-width: 550px) {
              font-size: 1.5em;
              height: auto;
              width: 30vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }

            display: block;
            sup {
              position: absolute;
              margin-top: -3.5px;
            }
          }
        }

        .fiveDayForecast__Data {
          display: flex;
          flex-direction: row;
          font-size: 1.1em;
          width: 19vw;

          @media (max-width: 850px) {
            width: 55vw;
          }
          @media (max-width: 550px) {
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
            text-align: center;
          }

          .fiveDayForecast__Data_Name {
            display: flex;
            flex-direction: column;
            color: $font-color1-paramsHead;
            width: 14vw;

            span {
              &:hover {
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                transform: scale(1.1);
              }
            }
            @media (max-width: 850px) {
              font-size: 1.6em;
              width: 30vw;
            }
            @media (max-width: 650px) {
              font-size: 1.4em;
            }
            @media (max-width: 550px) {
              font-size: 1.5em;
              height: auto;
              width: 45vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;

              span {
                padding: 4% 0 0 0;
              }
            }
          }
          .fiveDayForecast__Data_Value {
            display: flex;
            flex-direction: column;
            color: $font-color2-paramsValue;
            width: 5vw;

            span {
              &:hover {
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                transform: scale(1.1);
              }
            }
            @media (max-width: 850px) {
              font-size: 1.4em;
            }
            @media (max-width: 650px) {
              font-size: 1.3em;
            }
            @media (max-width: 550px) {
              font-size: 1.4em;
              height: auto;
              width: 30vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;

              span {
                padding: 4% 0 0 0;
              }
            }
          }
        }
      }

      .data__providers_Container {
        line-height: 1.5em;
        padding: 5vh 2vw 1.5vh 2vw;
        width: 19vw;
        height: 14vh;

        @media (max-width: 550px) {
          display: flex;
          flex-direction: column;
          height: auto;
          width: 75vw;
          align-content: center;
          justify-content: center;
          margin: 0vh 7vw -10vh -42vw;
          padding: 0;
          text-align: center;
        }
        @media (max-width: 450px) {
          width: 90vw;
        }
        @media (max-width: 400px) {
          margin: 0vh 7vw 0vh -42vw;
        }
        .providers_Text {
          color: $font-color2-headings;
          font-size: 1.2em;

          @media (max-width: 1024px) {
            font-size: 1em;
          }
          @media (max-width: 850px) {
            font-size: 1.6em;
          }
          @media (max-width: 650px) {
            font-size: 1.4em;
          }
          @media (max-width: 550px) {
            font-size: 1.6em;
            height: auto;
            width: 75vw;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
            text-align: center;
          }
        }
        .providers_Value {
          color: $font-color2-paramsValue;
          font-size: 1.1em;
          display: flex;
          flex-direction: row;
          align-content: center;
          padding: 3px;

          @media (max-width: 850px) {
            margin-top: 2.5vh;
            font-size: 1.5em;
          }
          @media (max-width: 650px) {
            font-size: 1.3em;
          }
          @media (max-width: 550px) {
            font-size: 1.5em;
            height: auto;
            width: 75vw;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
            text-align: center;
          }
        }

        .provider_aweather {
          &:hover {
            color: hsl(18, 84.9%, 49.2%);
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            transform: scale(1.1);
          }
        }
        .provider_wstack {
          &:hover {
            color: hsl(201.3, 19%, 50.6%);
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            transform: scale(1.1);
          }
        }
      }

      .rowRightBottom__Data__Contact {
        display: grid;
        height: 30vh;
        padding: 1vh 1.75vw 0vh 1.75vw;
        text-align: center;

        @media (max-width: 850px) {
          height: 35vh;
        }
        @media (max-width: 550px) {
          margin-top: 30vh;
        }
        @media (max-width: 450px) {
          margin-bottom: 5vh;
        }

        a {
          font-size: 2em;
          &:hover {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            transform: scale(1.1);
          }
          @media (max-width: 850px) {
            font-size: 2.5em;
          }
        }
        a,
        a:visited,
        a:hover,
        a:active {
          text-decoration: none;
          color: hsl(269, 99%, 61%);
        }

        .contactMe_Text {
          grid-area: contactMeText;
          color: $font-color2-paramsValue;
          font-size: 1.2em;
          @media (max-width: 850px) {
            font-size: 1.5em;
          }
          @media (max-width: 550px) {
            font-size: 1.6em;
            height: auto;
            width: 75vw;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
            text-align: center;
          }
        }

        a {
          @media (max-width: 550px) {
            text-align: center;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: auto;
            padding: 0;
            height: auto;
            width: auto;
          }
        }
        .contactMe__Website {
          grid-area: contactMeWebsite;
        }
        .contactMe__LinkedIn {
          grid-area: contactMeLinkedIn;
        }
        .contactMe__Github {
          grid-area: contactMeGithub;
        }
        .contactMe__Twitter {
          grid-area: contactMeTwitter;
        }
        .contactMe__Instagram {
          grid-area: contactMeInstagram;
        }
        .contactMe__Facebook {
          grid-area: contactMeFacebook;
        }
        .contactMe__Email {
          grid-area: contactMeEmail;
        }
        .contactMe__Copyright {
          grid-area: contactMeCopyright;
          color: $font-color1-paramsHead;
          font-size: 0.8em;
          &:hover {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            color: $main-color1-day;
            transform: scale(1.2);
          }
          @media (max-width: 850px) {
            font-size: 1em;
          }
        }

        grid-template-areas:
          "contactMeText contactMeText contactMeText"
          "contactMeWebsite contactMeLinkedIn contactMeGithub"
          "contactMeTwitter contactMeInstagram contactMeFacebook"
          "contactMeCopyright contactMeCopyright contactMeCopyright";
      }
    }
  }

  grid-template-areas:
    "allLeft midTop rightTop"
    "allLeft midBottom rightBottom"
    "allLeft midBottom rightBottom"
    "allLeft midBottom rightBottom"
    "allLeft midBottom rightBottom"
    "allLeft midBottom rightBottom";

  /* Media Query - 850px */
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 0%;
    position: unset;
    transform: unset;
    width: 90vw;
    margin-left: 3vw;

    .container__column_Left,
    .container__row_MidTop,
    .container__row_MidBottom,
    .container__row_RightTop,
    .container__row_RightBottom {
      width: 100%;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

      // margin-left: 5vw;
      height: unset;
    }

    .container__column_Left {
      border-radius: 0px;
      height: 8.5vh;
      overflow: hidden;
      background-color: #ffffff;
      background-blend-mode: overlay;
      position: fixed;
      bottom: 0;
      z-index: 5;

      .columnLeftData__Button {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;

        * {
          margin-top: 1.75vh;
        }
      }
    }

    .container__row_MidTop {
      height: 9vh;

      @media (max-width: 550px) {
        height: 17vh;
      }
      @media (max-width: 350px) {
        padding-bottom: 2%;
      }

      .rowMidTop__Data {
        .rowMidTop__placeDetails {
          font-size: 1.8em;
          @media (max-width: 550px) {
            margin-top: 1.25vh;
            width: auto;
            align-items: center;
          }
          @media (max-width: 350px) {
            font-size: 1.6em;
          }
        }
      }
    }

    .container__row_MidBottom {
      .rowMidBottom__Data {
        width: 100%;
        height: 100%;
        height: unset;
        margin: 5% 0;
        justify-content: center;
        align-items: center;
        grid-column-gap: 0%;

        @media (max-width: 550px) {
          display: flex;
          flex-direction: column;
          height: auto;
          width: auto;
          align-content: center;
          justify-content: center;
          margin: auto;
          padding: 0;
        }

        .data__currentTemp_Container {
          width: 25vw;
          margin-left: 7.5vw;
          margin-top: -1vh;
          @media (max-width: 650px) {
            margin-top: -1vh;
          }
          @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 10% 0 5% 0;
          }
          .currentTemp_Text {
            font-size: 1.8em;
            @media (max-width: 650px) {
              font-size: 1.5em;
            }
            @media (max-width: 550px) {
              font-size: 1.8em;
              height: auto;
              width: auto;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
          }
        }

        .data__activeParameters_Container {
          width: 40vw;
          @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 10% 0 5% 0;
          }
          .activeParameters_Text {
            font-size: 1.6em;
            @media (max-width: 650px) {
              font-size: 1.3em;
            }
            @media (max-width: 550px) {
              font-size: 1.6em;
              height: auto;
              width: auto;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
          }
          .activeParameters_Value {
            @media (max-width: 550px) {
              display: flex;
              flex-direction: column;
              height: auto;
              width: auto;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
            .parameters__Left,
            .parameters__Right {
              display: flex;
              flex-direction: column;
              width: 19.5vw;

              @media (max-width: 550px) {
                height: auto;
                width: 75vw;
                align-content: center;
                justify-content: space-evenly;
                margin: auto;
                padding: 0;
              }
              @media (max-width: 450px) {
                width: 90vw;
              }
            }
          }
        }

        .data__description_Container {
          width: 25vw;
          @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 10% 0 5% 0;
          }

          .description_Text {
            font-size: 1.6em;
            @media (max-width: 650px) {
              font-size: 1.3em;
            }
            @media (max-width: 550px) {
              font-size: 1.6em;
              height: auto;
              width: auto;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
          }
        }
        .data__forecast12Hour_Container {
          width: 90vw;
          margin-left: 7.5vw;
          @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 5% 0 5% 0;
          }

          .forecast12Hour_Text {
            font-size: 1.6em;
            @media (max-width: 650px) {
              font-size: 1.4em;
            }
            @media (max-width: 550px) {
              font-size: 1.6em;
              height: auto;
              width: auto;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
          }
          .forecast12Hour_Value {
            width: 85vw;
            @media (max-width: 550px) {
              display: flex;
              flex-direction: column;
              height: auto;
              width: 75vw;
              align-content: center;
              justify-content: center;
              margin: auto;
              padding: 0;
            }
            @media (max-width: 450px) {
              width: 90vw;
            }

            .f12__container {
              height: 20vh;
              width: 5.75vw;
              @media (max-width: 650px) {
                width: 5.25vw;
                height: 17vh;
              }
              @media (max-width: 550px) {
                display: flex;
                flex-direction: row;
                height: auto;
                width: 65vw;
                align-content: center;
                justify-content: center;
                margin: auto;
                padding: 8% 0 0 0;
                text-align: center;
                box-shadow: none;
                text-align: center;
                background-color: rgb(255, 255, 255);

                &:hover {
                  transition: all 0.2s ease-in-out;
                  box-shadow: none;
                  background-color: none;
                }
              }
              @media (max-width: 450px) {
                width: 80vw;
              }

              .f12__time {
                font-size: 1.15em;
                @media (max-width: 650px) {
                  font-size: 0.9em;
                }
                @media (max-width: 550px) {
                  order: 2;
                  height: auto;
                  width: 20 vw;
                  align-content: center;
                  justify-content: center;
                  margin: auto;
                  padding: 0;
                  font-size: 1.3em;
                }
                @media (max-width: 450px) {
                  width: 22.5vw;
                }
              }
              .f12__icon {
                @media (max-width: 550px) {
                  order: 1;
                  height: auto;
                  width: 20vw;
                  align-content: center;
                  justify-content: center;
                  margin: auto;
                  padding: 0;
                }
                @media (max-width: 450px) {
                  width: 22.5vw;
                }
              }
              .f12__temp {
                font-size: 1.25em;
                @media (max-width: 650px) {
                  font-size: 1em;
                }
                @media (max-width: 550px) {
                  order: 3;
                  height: auto;
                  width: 20vw;
                  align-content: center;
                  justify-content: center;
                  margin: auto;
                  padding: 0;
                  font-size: 1.3em;
                }
                @media (max-width: 450px) {
                  width: 22.5vw;
                }
              }
            }
          }
        }
      }
    }

    .container__row_RightTop {
      display: none;
      visibility: hidden;
    }

    .container__row_RightBottom {
      padding-top: 5vh;
      .rowRightBottom__Data {
        .rowRightBottom__Data__FiveDayForecast {
          width: 65vw;
          margin-left: 2.5vw;
          @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding: 0;
            padding-top: 10vh;
          }
        }

        .data__providers_Container {
          width: 35vw;
          height: 15vh;
          position: absolute;
          left: 55vw;
          margin-top: -3.5vh;
        }
      }
    }
  }
}
